body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

li {
    margin: 10px 0;
}

table {
    width: 100%;
}

#global {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #f9f9f9; /* Utilisez la même couleur ici si nécessaire */
    padding: 20px; /* Pour donner de l'espace entre le contenu et les bords */
}

#contenu h1 {
    font-size: 24px;
    color: #333;
}

figure img {
    max-width: 100%;
    height: auto;
}

footer address {
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

.image-container {
 justify-content: center; /* Centers logos horizontally */
    align-items: center; /* Aligns logos vertically */
    gap: 230px; /* Adds space between logos */
    display: flex
    }
footer p {
    text-align: center;
    font-size: 14px;
    color: #666;
}

a {
    color: #1a73e8;
    text-decoration: none;
    position: relative; /* Required for pseudo-element positioning */
    font-weight: bold;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Position below the text */
    width: 0;
    height: 2px;
    background: #1a73e8;
    transition: width 0.3s ease-in-out; /* Smooth expand effect */
}

a:hover::after {
    width: 100%; /* Expand underline */
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.section-title {
    background-color: #333; /* Matches nav bar */
    color: white; /* White text */
    padding: 10px; /* Add some padding */
    margin: 20px 0; /* Space around the title */
    font-size: 1.5em; /* Adjust font size */
}

.language-switcher {
    display: flex; /* Pour aligner les drapeaux côte à côte */
    gap: 8px; /* Espacement entre les drapeaux */
    align-items: center;
    margin-right: 16px; /* Espacement avec les autres éléments */
}

.language-switcher img {
    width: 24px; /* Taille des drapeaux */
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

.language-switcher img:hover {
    opacity: 0.8; /* Effet visuel au survol */
}


